@import "tailwindcss";
@import "tw-animate-css";

:root {
	--radius: 0.625rem;
	--background: #ffffff;
	--foreground: #30363e;
	--sub-background: #f9fafb;
	--card-background: #ffffff;
	--input: #e5e5e5;
	--accent: #f5f5f5;
	--accent-foreground: #30363d;
	--popover: #ffffff;
	--popover-foreground: #30363d;

	--secondary: #f5f5f5;
	--primary: #14b6c2;
	--primary-dark: #0b7383;
	--primary-subdude: #e0f7f9;
	--primary-foreground: #fafafa;
	--success: #63a73d;
	--success-subdude: #f1f8ea;
	--warning: #ffc310;
	--warning-subdude: #fff8e0;
	--destructive: #ee3e4b;
	--destructive-subdude: #fcefee;

	--sidebar: #ffffff;
	--sidebar-primary: #30363e;
	--sidebar-primary-foreground: #fafafa;
	--sidebar-accent: #fafafa;
	--sidebar-border: #e5e5e5;
	--sidebar-ring: #a1a1a1;
}

@theme {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-sub-background: var(--sub-background);
	--color-card: var(--card-background);
	--color-input: var(--input);
	--color-ring: var(--color-primary);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-secondary: var(--secondary);
	--color-primary: var(--primary);
	--color-primary-dark: var(--primary-dark);
	--color-primary-subdude: var(--primary-subdude);
	--color-primary-foreground: var(--primary-foreground);
	--color-success: var(--success);
	--color-success-subdude: var(--success-subdude);
	--color-warning: var(--warning);
	--color-warning-subdude: var(--warning-subdude);
	--color-destructive: var(--destructive);
	--color-destructive-subdude: var(--destructive-subdude);

	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--color-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-secondary);
		outline-color: var(--color-secondary);
	}

	html,
	body {
		@apply bg-sub-background text-foreground;
	}
}
